body {
    font-family: PT Sans;
    font-size: 20px
    line-height: 100px;
    color: #000000;
    font-weight: normal;
}

h2 {
    font-family: PT Sans;
    font-size: 20px
    line-height: 100px;
    color: black;
    font-weight: normal;
}

h3 {
    font-family: PT Sans;
    font-size: 20px
    line-height: 100px;
    color: black;
    font-weight: normal;
}