html,
body {
    background: white;
    font-family: PT Sans;
    font-size: 16px;
    line-height: 32px;
    color: black;
    font-weight: normal;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.main_navigation {
    width: 1200px;
    height: 55px;
}

.logo {
    float: left;
    position: relative;
}

.main_1 {
    float: left;
    width: 240px;
}

.main_2 {
    float: right;
    width: 240px;
}

body {
    background: url(../img/background_hotels.jpg) no-repeat 50% 55px;
    background-size: 1200px 220px;
}

.choice_form {
    width: 1060px;
    height: 220px;
    margin-left: 70px;
    margin-right: 70px;
}

.main_form_1 {
    float: left;
    width: 240px;
}

.main_form_2 {
    float: left;
    width: 288px;
    margin-right: 200px;
}

.main_form_3 {
    float: right;
    width: 330px;
}

.dop_text {
    width: 1060px;
    height: 65px;
    margin-left: 70px;
    margin-right: 70px;
}

.dop_text_1 {
    float: left;
    margin-right: 40px;
}

.dop_text_2 {
    float: left;
    margin-right: 30px;
}

.dop_text_3 {
    float: left;
    margin-right: 30px;
}

.dop_text_4 {
    float: left;
    margin-right: 30px;
}

.dop_text_5 {
    float: right;
}

.sorthing {
    float: left;
    width: 240px;
}

.choice {
    float: left;
    width: 200px;
    margin-right: 290px;
}

.simbol {
    float: right;
    width: 240px;
    margin-left: 90px;
}

.hotels_container {
    width: 1060px;
    height: 390px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 35px;
    margin-top: 90px;
}

.choice_hotels {
    height: 150px;
}

.hotel {
    float:left;
    width: 530px;
    margin-right: 290px;
}

.img_hotels {
    float:left;
    margin-right: 30px;
}

.block_hotels {
    float: left;
}

.star {
    float:right;
    width: 240px;
}

.main_footer {
    background: #ffffff;
    height: 120px;
}

.footer_text {
    float: left;
    width: 240px;
    margin-left: 70px;
}

.footer_social {
    float: left;
    width: 400px;
    margin-left: 90px;
    margin-right: 90px;
}

.footer_copyright {
    float: right;
    width: 240px;
    margin-right: 70px;
}

.footer_img {
    
}



