html,
body {
    background: white;
    font-family: PT Sans;
    font-size: 16px;
    line-height: 32px;
    color: black;
    font-weight: normal;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.main_navigation {
    width: 1200px;
    height: 55px;
    background: #ffffff;
}

.logo {
    float: left;
    position: relative;
}

.main_1 {
    float: left;
    width: 240px;
}

.main_2 {
    float: right;
    width: 240px;
}

.welcome {
    margin-top: -15px;
}

.sedona_text {
    margin-top: 60px;
    text-align: center;
}

.sedona_text_1 {
    margin-bottom: 35px;
}

.sedona_text_2 {
    margin-bottom: 55px;
}

.blue {
    float:left;
    background: #81b3d2;
    width: 400px;
    height: 260px;
    text-align: center;
}

.blue_img {
    float: left;
    width: 800px;
    height: 260px;
}

.white_class {
    clear: both;
    width: 1200px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.white_1 {
    float:left;
    width: 400px;
}

.white_2 {
    float: left;
    width: 400px;
}

.white_3 {
    float:right;
    width: 400px;
}

.img_1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 55px;
}

.blue_1 {
    float:left;
    background: #81b3d2;
    width: 400px;
    height: 260px;
    text-align: center;
}

.blue_img_1 {
    float: left;
    width: 800px;
    height: 260px;
}

.no_img {
    clear: both;
    background: #eeeeee;
    width: 1200px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.white_4 {
    float:left;
    width: 400px;
}

.white_5 {
    float: left;
    width: 400px;
}

.white_6 {
    float:right;
    width: 400px;
}

.white_container {
    padding-top: 45px;
}

.bottom_text {
    text-align: center;
}

.text_6 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.hotel {
    float: left;
    width: 580px;
    height: 85px;
    margin-left: 310px;
    margin-right: 310px;
    margin-bottom: 0px;
    background: #766357;
    text-align: center;
}

.main_footer {
    background: #ffffff;
    height: 120px;
}

.footer_text {
    float: left;
    width: 240px;
    margin-left: 70px;
}

.footer_social {
    float: left;
    width: 400px;
    margin-left: 90px;
    margin-right: 90px;
}

.footer_copyright {
    float: right;
    width: 240px;
    margin-right: 70px;
}

.footer_img {
    
}

